body {
    font-family: "Open Sans", sans-serif;
   
    color: #444444;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 28%;
    margin-bottom: 16px;
    padding: 0 25px;
    margin-left: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    font-size: 12px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #FFFFFF;
}

    .about-section h1 {
        font-size: 40px;
        color: #F58216;
        display: inline;
    }


.container {
    padding: 0 16px;
}

    .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
    }

.title {
    color: grey;
}

.container p {
    text-align: justify;
}


.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #F58216;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

    .button:hover {
        background-color: #faa555;
    }

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}


div.gallery {
    border: 1px solid #ccc;
}

    div.gallery:hover {
        border: 3px solid #F58216;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

div.name {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: left;
}

input[type=submit] {
    background-color: #F58216;
    ;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #f5953c;
        ;
    }

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: left;
    font-weight: 10px;
    margin-top: 60px;
}
