body {
    margin: 0px;
    line-height: 20px;
}

#content {
    height: 2000px;
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 20px;
    background: #222;
    color: white;
}
