@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<link rel="stylesheet" href="~/css/Aboutus/aboutus.css" />

<body class="aboutus">

<div class="about-section">

    <center><h1 class="aboutus">About Us</h1></center>
        <p class="aboutus">We are a group of grade 11 students from Parañaque Science High School that aims to advocate the hunger and malnutrition problem in the Philippines. Our group believes that every man, woman and child has the inalienable right to be free from hunger and malnutrition in order to develop fully and maintain their physical and mental faculties. All of us have a right to an adequate standard of living, including adequate food as well as the fundamental right to be free from hunger. <br> <br> Through our advocacy here kain.world we aim to disseminate and inform thousands of Filipinos about the rampant hunger and malnutrition problem present in the poorer areas of the Philippines. Through Kain.World you can be redirected to Non-Government Organizations(NGOs) and Charities in the Philippines responsible for feeding and helping hundreds of families each year. <br> <br> This website will serve as a gateway to a broader perspective of the world of  the poor and hungry in the country and guide you to advocacies, charities and NGOs where your donations can make a difference.</p>
</div>

<br>
<br>
<br>
<div align="center">
<img src="~/Media/hunger.jpg" alt="hunger" width="450" height="300">
<img src="/Media/world hunger.jpg" alt="world hunger" width="450" height="300">
<img src="/Media/poverty.jpg" alt="poverty" width="450" height="300">
    </div>
</br>


    <h2 class="aboutus" style="text-align:center"><span>Meet Our Team</span></h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/Media/jean.jpg" alt="JJ" style="width:100%">
            <div class="container">
                    <h3 style="text-align:center" class="aboutus">Jean Joseph Corpuz</h3>
                    <p class="title">Web Developer</br>jeanjoseph.corpuz@depedparanaquecity.com</p>
                <p1>”I want to teach people to be grateful, so we can have an amazing world where negativity cannot grow and prosper, and children will have smiles on their face.”</p1>
            </div>
        </div>
    </div>


    <div class="column">
        <div class="card">
                <img src="~/Media/liam.jpg" alt="Liam" style="width:100%">
            <div class="container">
                    <h3 style="text-align:center" class="aboutus">Liam Casimir Fernandez</h3>
                    <p class="title">Website Designer</br>liamcasimir.fernandez@depedparanaquecity.com</p>
                <p1>”I want to teach people to be grateful, so we can have an amazing world where negativity cannot grow and prosper, and children will have smiles on their face”</p1>
                
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
                <img src="~/Media/jhian.jpg" alt="Dale" style="width:100%">
            <div class="container">
                    <h3 style="text-align:center" class ="aboutus">Jhian Dale Leonen</h3>
                    <p class="title">Web Developer</br>jhiandale.leonen@depedparanaquecity.com</p>
                <p1>”Advocacy is like programming a website, with sacrifice and hardwork,  we are able to create a utopia where everyone can experience convenience and assistance.”</p1>
                

            </div>
        </div>
    </div>


    <div class="column">
        <div class="card">
                <img src="~/Media/kate.jpg" alt="Kate" style="width:100%">
            <div class="container">
                    <h3 style="text-align:center" class="aboutus">Kate Dominique Colindres</h3>
                    <p class="title">Web Designer</br>katedominique.colindres@depedparanaquecity</p>
                <p1>”I believe that everyone has the right to receive food to ensure malnutrition and hunger do not impede our development. Through advocacy, we can create great impact by raising awareness of the starving Filipinos and demonstrate how simple it is to help them.”</p1>
               

            </div>
        </div>
    </div>


    <div class="column">
        <div class="card">
                <img src="~/Media/ysa.jpg" alt="Ysa" style="width:100%">
            <div class="container">
                    <h3 style="text-align:center" class="aboutus">Rosanne Ysabel Crame</h3>
                    <p class="title">Web Designer</br>rosanneysabel.crame@depedparanaquecity</p>
                <p1>”I strongly believe that world hunger needs to come to an end. Food is essential to everyone, both as individuals and as a community. It is an essential component of the human right to an adequate standard of living, which allows each of us to live a life of dignity.”</p1>
             

            </div>
        </div>
    </div>


    <div class="column">
        <div class="card">
                <img src="~/Media/steph.jpg" alt="Steph" style="width:100%">
            <div class="container">
                    <h3 style="text-align:center" class="aboutus">Stephanie Leigh Guintao</h3>
                    <p class="title">Web Developer</br>stephanieleigh.guintao@depedparanaquecity</p>
                <p1>
                    ”And I know it can be really overwhelming figuring out who to be, and when. Who you are now and how to act in order to get where you want to go. I have some good news: it’s totally up to you. With that, I chose to advocate for something that I know will be helpful not only to the society but also to myself as i grow to be a better person.”
                </p1>
              
            </div>
        </div>
    </div>
</div>

</body>