@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="~/css/scrollbar.css" />
<link rel="stylesheet" href="~/css/Index/slidingimages.css" />
<link rel="stylesheet" href="~/css/Index/hero.css" />
<link rel="stylesheet" href="~/css/Index/icon.css" />
<link rel="stylesheet" href="~/css/Index/cta.css" />
<link rel="stylesheet" href="~/css/Index/index.css"/>

<body>
    <section id="hero">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">


            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>


            <div class="carousel-inner" role="listbox">

                <img class="logo-icon center" src="~/Media/icon.png" />
                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url(https://www.hapagasafeeding.com/wp-content/uploads/2019/12/Option-1.jpg)">
                    <div class="carousel-container">
                        <img class="logo-icon center" src="~/Media/icon.png" />
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown"><span>KainWorld</span></h2>
                            <p class="animate__animated animate__fadeInUp">
                                Ending Hunger One Step at a Time
                            </p>
                            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                        </div>
                    </div>
                </div>


                <!-- Slide 2 -->
                <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>
                            <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                        </div>
                    </div>
                </div>


                <!-- Slide 3 -->
                <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
                            <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                        </div>
                    </div>
                </div>


            </div>


            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>


            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>


        </div>
    </section><!-- End Hero -->

    <main id="main">


        <!-- ======= Featured Services Section ======= -->
        <section id="featured-services" class="featured-services section-bg">
            <div class="container">


                <div class="row no-gutters">
                    <div class="col-lg-4 col-md-6">
                        <img class="feature-image" src="~/Media/featured-1.jpg" />
                       <div class="container-featured" />
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-laptop"></i></div>
                            <h4 class="title"><a href="">Poverty</a></h4>
                            <p class="description">According to the Philippine Statistics Authority, the estimated poverty rate was 16.6% in 2018 and 17.6 million people faced extreme poverty. Hunger is one of the critical problems stemming from poverty in the Philippines, with 64% of the population suffering from chronic food insecurity. In response, many organizations have shown interest in improving the conditions in the Philippines through various programs and projects. Here are five organizations that have stepped up to address hunger in the Philippines. </p>
                        </div>
                    </div>
                </div>
                    </div>

            <div class="row no-gutters">
                   <div class="col-lg-4 col-md-6">
                        <img class="feature-image" src="~/Media/featured2.jpg" />
                       <div class="container-featured" />
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-laptop"></i></div>
                            <h4 class="title"><a href="">Hunger</a></h4>
                        <p class="description">
                            MANILA, Philippines – Hunger rate in the Philippines “hardly moved” from the second to the third quarter of 2022, according to the most recent survey of pollster Social Weather Stations (SWS).
                            In a report published on Saturday, October 29, SWS said 11.3% of Filipino families – or around 2.9 million – had nothing to eat at least once in the past three months, almost similar to the 11.6% hunger rate in June 2022.
                        </p>
                        </div>
                    </div>
                </div>
                    </div>
            </div>
        </section><!-- End Featured Services Section -->

        <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">


        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Call To Action</h3>
            <p class="cta-p">By joining KainWorld, you align to the organization's goals and objectives, contributing in unique ways. This is a broad call to action that will require as many partners as possible to achieve the ambitious objective of providing Filipinos access to a nutritious meal.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div>
        </div>
      </div>
    </section><!-- End Cta Section -->

    <div class="container-slide">
    <div class="row-slide">
    <div class="column-slide">
    <div class="info2"> 
                    <h1><strong>OUR ACTIONS <br>
                    TO HELP <br>
                    FIGHT HUNGER</strong></h1>
                    <li>Spread awareness about the current situation of hunger in the Philippines.</li>
                    <li>Provide easy access to sites and pages where you can volunteer or donate</li>
                    <li>Persuade people to be one in fighting hunger in the Philippines.</li>
                    <li>Present visuals and graphics of data related to the Philippines' hunger index</li>
                </div>
            </div>
            <div class="column-slide">
    <div class id="Slidingimages" style="width:34%">
        <div class="mySlides">
            <div class="numbertext">1 / 3</div>
            <img src="~/Media/Poverty 1.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 3</div>
            <img src="~/Media/Poverty 2.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 3</div>
            <img src="~/Media/Poverty 3.jpg" style="width:100%">
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <div class="row">
            <div class="column">
                <img class="demo cursor" src="~/Media/Poverty 1.jpg" style="width:100%" onclick="currentSlide(1)" alt="">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/Media/Poverty 2.jpg" style="width:100%" onclick="currentSlide(2)" alt="">
            </div>
            <div class="column">
                <img class="demo cursor" src="~/Media/Poverty 3.jpg" style="width:100%" onclick="currentSlide(3)" alt="">
            </div>      
        </div>
    </div>
    </div>
            </div>
        </div>
<script>
            let slideIndex = 1;
            showSlides(slideIndex);

            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                let i;
                let slides = document.getElementsByClassName("mySlides");
                let dots = document.getElementsByClassName("demo");
                let captionText = document.getElementById("caption");
                if (n > slides.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = slides.length }
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
                captionText.innerHTML = dots[slideIndex - 1].alt;
            }
</script>
</body>
</html>