@page
@model AboutUsModel
@{
    ViewData["Title"] = "Support Us";
}
<head>
    <link rel="stylesheet" href="~/css/Supportus/supportus.css">
</head>
<body>
    <!--articles-->
    <div class="about-section">
        <div class="about-section">
            <h1>Support Us</h1>
            <p style="text-align:center">Discover More Information and Show your Support.</p>
            <h3>“Help others without any reason and give without the expectation of receiving anything in return."</h2>
        </div>

        <div class="container-new">
            <div style="margin-bottom:10px"> 
        <h1 style="text-align:center">What's New?</h1>
        </div>
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="https://philippines.licas.news/wp-content/uploads/2020/07/20200416_urban_poor_under_COVID19_lockdown_mzs-14-e1595481338421.jpg" alt="art1" style="width:100%">
                    <div class="contain-column">
                        <h2>Nutrition security: A healthy nation leads to stability and prosperity</h2>
                        <p class="title">Manila Bulletin - January 21, 2023</p>
                        <p>What makes a healthy nation? It is not enough that citizens are able to consume three meals a day, but they also have access to meals that are nutritious, utilizing ingredients grown by local farmers and sold at fair prices.</p>
                        <a href="https://mb.com.ph/2023/01/21/nutrition-security-a-healthy-nation-leads-to-stability-and-prosperity/"><button class="button">Read More</button></p></a>
                    </div>
                </div>
            </div>


            <div class="column">
                <div class="card">
                    <img src="https://media.philstar.com/photos/2023/01/20/addf2020-10-0421-40-57_2023-01-20_22-00-34.jpg" alt="art2" style="width:100%">
                    <div class="contain-column">
                        <h2>Philippines needs higher budget to address malnutrition</h2>
                        <p class="title">The Philippine Star - January 21, 2023</p>
                        <p>MANILA, Philippines — The Philippines needs to hike its budget to continue the implementation of the School-Based Feeding Program (SBFP) as malnutrition continues to be prevalent in school children, according to the United States Department of Agriculture (USDA).</p>
                        <a href="https://www.philstar.com/business/2023/01/21/2239037/philippines-needs-higher-budget-address-malnutrition"><button class="button">Read More</button></p></a>
                    </div>
                </div>
            </div>


            <div class="column">
                <div class="card">
                    <img src="https://1cms-img.imgix.net/OVP-Kalusugan-Food-Trucks.jpg?auto=compress" alt="John" style="width:100%">
                    <div class="contain-column">
                        <h2>PH programs to fight malnutrition, hunger</h2>
                        <p class="title">ManilaStandard.net - October 16, 2022</p>
                        <p>Aiming to address the malnutrition of children in schools and those affected by the calamities, Vice President and Department of Education Secretary Sara Duterte launched recently the “Kalusugan Food Trucks” in a video report on her first 100 days in office.</p>
                        <a href="https://manilastandard.net/spotlight/2022-world-foo-day-special-feature/314269083/ph-programs-to-fight-malnutrition-hunger.html"><button class="button">Read More</button></p></a>
                    </div>
                </div>
            </div>
            </div>

            <div class="container-new">
                <div style="margin-bottom:20px; margin-top:30px">
            <h1 style="text-align:center">More Organizations</h1>
            </div>
            </div>


            <div class="responsive">
                <div class="gallery">
                    <a href="https://hungerfreephilippines.org/">
                        <img src="https://give.caremin.com/image/960x640p/VRyowsQY1Ik6iY5Q.jpg?otzopo" alt="pic1" width="600" height="400">
                    </a>
                    <div class="name"><strong>HungerFreePhilippines.org</strong></div>
                </div>
            </div>


            <div class="responsive">
                <div class="gallery">
                    <a href="https://actionagainsthunger.ph/">
                        <img src="https://blog.pizzahut.com/wp-content/uploads/2015/11/PHI_20150218_WFP-Jacob_Maentz_1951-1080x721.jpg" alt="pic2" width="600" height="400">
                    </a>
                    <div class="name"><strong>ActionAgainstHunger.ph</strong></div>
                </div>
            </div>


            <div class="responsive">
                <div class="gallery">
                    <a href="https://riseagainsthunger.org.ph/">
                        <img src="https://scalingupnutrition.org/sites/default/files/2022-07/WFP-Philippines-home.png" alt="pic3 width="600" height="400">
                    </a>
                    <div class="name"><strong>RiseAgainstHunger.org.ph</strong></div>
                </div>
            </div>


            <div class="responsive">
                <div class="gallery">
                    <a href="https://feedthehungryphil.org/">
                        <img src="https://live.staticflickr.com/2823/10298596743_cba94c3095_b.jpg" alt="pic4" width="600" height="400">
                    </a>
                    <div class="name"><strong>FeedtheHungryPhil.org</strong></div>
                </div>
            </div>


            <div class="clearfix"></div>


            <div style="padding:6px;">
            </div>
            <br>
            <div class="form">
                <form action="/action_page.php">
                    <label for="fname" style="text-align:center">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your name..">

                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                    <label for="amt">Amount</label>
                    <input type="text" id="amt" name="amount" placeholder="Amount in Peso..">

                    <input type="submit" value="DONATE">
                </form>
            </div>
</body>

